.gallery .gallery-expand.active .gallery-curve-wrapper .gallery-cover {
    box-shadow: none;
}

#walletList button {
    padding: 4px 10px !important;
}

@media only screen and (min-width: 600px) {
    #chooseWalletModal {
        margin-top: 5% !important;
    }
    #walletList {
        overflow-x: hidden !important;
        padding-bottom: 30px !important;
    }
}

td,
th {
    padding: 1px 1px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: transparent;
}

.tradeOrderTitle {
    display: none!important;
}

@media only screen and (max-width: 500px) {
    .coinDataHolda {
        display: none
    }
    .heroImg {
        display: none
    }
    .tagline {
        margin: 0px 10% !important;
        line-height: 2;
        margin-bottom: 10% !important;
        text-align: center;
    }
    .heroStats {
        margin: 0px !important;
    }
    .heroStatsDiv {
        width: 100vw !important;
        line-height: 1.3 !important;
        /*        padding: 0px !important;*/
    }
    .heroStatsDiv p {
        margin: 0px !important;
    }
    #storesOpn {
        width: 75% !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .indicators {
        bottom: 10% !important;
    }
    /*
    .flex-align {
        display: none !important;
    }
*/
    .gallery-body .btn {
        display: none;
    }
    .sokoExpln img {
        width: 100% !important;
        margin-left: -25% !important;
    }
    .slider {
        height: 90vh;
    }
    .slider__wrapper figure {
        width: 11% !important;
    }
    .carousel.carousel-slider .carousel-item p {
        font-size: 1.2em !important;
        margin-right: 0px !important;
        margin-right: 20px !important;
    }
    .gallery-header {
        padding: 8px !important;
    }
    #comingSoon {
        margin: 0px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 480px) {
    #orderHistory {
        margin: 4px !important;
        width: 98% !important;
    }
}

@media screen and (min-width: 480px) {
    .orderBookSize {
        padding: 0px 12% !important;
    }
    .coinTab {
        margin-top: 10px !important;
    }
    .tradableCoins {
        border: 0px;
        margin: 0px 30%;
    }
}


/***************************************
                CHOOSE WALLET MODAL
***************************************/

.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1040;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/***************************************
                MY ORDERS
***************************************/

#myOrders ul {
    border: none;
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.75);
}

#myOrders li {
    padding: 0px;
}

#myOrders .col {
    padding: 0px !important;
}

#myOrders .row {
    margin-bottom: 0px;
}

#buyTokenButton {
    padding: 10px;
}

#tradeOrder {
    max-height: 100% !important;
}

#tradeOrder .modal-content {
    background: white;
}

@media only screen and (max-width: 602px) {
    .coinDataHolda {
        display: none;
    }
    .doTransActs {
        width: 100%;
    }
}
